body {
  margin: 0px;
  overflow: hidden;
  font-family: 'oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h1 {
  font-family: 'oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}
