$contentPadding: 30px;
// TODO: make these available globally in a theme.scss file
$theme_background_purple: #2a1b3d;
$theme_dark_purple: #44318d;
$theme_light_purple: #8265a7;
$theme_pink: #d83f87;
$theme_gray: #a4b3b6;
$header_height: 105px;

.wavesContainer {
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: $theme_background_purple;
  position: absolute;
}

// This makes it so that you can't highlight the waves with your cursor
.background::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.wave {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  width: max-content;
  transform-origin: bottom left;
  transform: scale(2) translateY(2%);
}

.waveAnimation {
  animation: leftToRight;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes leftToRight {
  to {
    transform: translateX(-50%);
  }
}

.content {
  max-height: 100%;
  overflow: scroll;

  // Hide scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Hide scrollbar
.content::-webkit-scrollbar {
  display: none;
}

.contentBackground {
  position: absolute;
  width: calc(100% - 4 * $contentPadding);
  height: calc(100% - 2 * $contentPadding);
}

.contentContainer {
  position: absolute;
  width: 100vw;
  height: calc(100vh - $header_height);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
